<div class="profile-container">
  <div class="profile-card">
    <h2>Künstlerprofil</h2>

    <form [formGroup]="artistForm" (ngSubmit)="saveArtist()">
      <div class="text-center mb-3">
        <img [src]="getProfileImageSrc()" alt="Profilbild" class="rounded-circle border" width="120" height="120" (error)="onImageError($event)">
      </div>

      <div class="profile-item">
        <label>Künstlername:</label>
        <input *ngIf="isEditing" formControlName="name" type="text" class="form-control" />
        <span *ngIf="!isEditing" class="info">{{ artistForm.value.name }}</span>
      </div>

      <div class="field-error" *ngIf="name?.invalid && name?.touched && isEditing">
        <span>Name ist erforderlich</span>
      </div>

      <div class="profile-item">
        <label>Email:</label>
        <input *ngIf="isEditing" formControlName="email" type="email" class="form-control" />
        <span *ngIf="!isEditing" class="info">{{ artistForm.value.email }}</span>
      </div>

      <div class="field-error" *ngIf="email?.invalid && email?.touched  && isEditing">
        <span>Gültige Email eingeben</span>
      </div>

      <div class="profile-item">
        <label>Rolle:</label>

        <!-- Nur Toggle im Bearbeitungsmodus -->
        <div *ngIf="isEditing" class="toggle-wrapper">
          <span>Nutzer</span>
          <label class="switch">
            <input type="checkbox"
                   formControlName="isComposer"
                   id="isComposer"
                   (change)="toggleRole($event)" />
            <span class="slider round"></span>
          </label>
          <span>Künstler</span>
        </div>

        <!-- Nur Info-Text im Lesemodus -->
        <span *ngIf="!isEditing">
          {{ artistForm.value.isComposer ? "Künstler" : "Nutzer" }}
        </span>
      </div>

      <div class="profile-item">
        <label>Geburtsjahr:</label>
        <input *ngIf="isEditing" formControlName="birthYear" type="number" class="form-control" />
        <span *ngIf="!isEditing" class="info">{{ artistForm.value.birthYear | date: 'yyyy' }}</span>
      </div>

      <div class="field-error" *ngIf="birthYear?.invalid && birthYear?.touched  && isEditing">
        <span>Geburtsjahr eingeben</span>
      </div>

      <div class="profile-item">
        <label>Genre:</label>
        <input *ngIf="isEditing" formControlName="genre" type="text" class="form-control" />
        <span *ngIf="!isEditing" class="info">{{ artistForm.value.genre }}</span>
      </div>

      <div class="field-error" *ngIf="genre?.invalid && genre?.touched  && isEditing">
        <span>Genre eingeben</span>
      </div>

      <div class="profile-item">
        <label>Herkunftsland:</label>
        <input *ngIf="isEditing" formControlName="country" type="text" class="form-control" />
        <span *ngIf="!isEditing" class="info">{{ artistForm.value.country }}</span>
      </div>

      <div class="field-error" *ngIf="country?.invalid && country?.touched  && isEditing">
        <span>Herkunftsland eingeben</span>
      </div>


      <div *ngIf="isEditing" class="profile-item">
        <label for="profilePicture" class="form-label text-white">Profilbild:</label>
        <input type="file"
               id="profilePicture"
               class="form-control ps-5"
               (change)="onProfileImageSelected($event)"
               accept="image/*" />
      </div>

      <div class="profile-item">
        <label>Beschreibung:</label>
        <textarea *ngIf="isEditing" formControlName="description" class="form-control" rows="3"></textarea>
        <span *ngIf="!isEditing" class="info">{{ artistForm.value.description }}</span>
      </div>

      <div class="profile-item">
        <label>Passwort:</label>
        <div class="input-group" *ngIf="isEditing">
          <input [type]="showPassword ? 'text' : 'password'"
                 formControlName="password"
                 class="form-control"
                 placeholder="Passwort zur Bestätigung eingeben" />
          <button type="button" class="btn btn-outline-light" (click)="togglePasswordVisibility()" tabindex="-1">
            <i [class]="showPassword ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
          </button>
        </div>
        <span *ngIf="!isEditing" class="info">••••••••</span>
      </div>

      <div class="field-error" *ngIf="password?.invalid && password?.touched  && isEditing">
        <span>Passwort zur Bestätigung eingeben</span>
      </div>

      <div class="d-flex justify-content-end gap-2 mt-4">
        <button type="button" class="btn btn-outline-light" (click)="toggleEdit()">
          {{ isEditing ? 'Abbrechen' : 'Bearbeiten' }}
        </button>
        <button type="submit" class="btn btn-primary" *ngIf="isEditing" [disabled]="!artistForm.valid">Speichern</button>
      </div>
    </form>
  </div>
</div>
