<div class="background">
  <img src="/background.jpg" class="bg-img" alt="Background" />
</div>

<div>
  <!-- Error Display -->
  @if (error) {
  <div class="error-message ms-3 me-3" role="alert" aria-live="assertive">
    <i class="bi bi-exclamation-circle error-icon"></i>
    <span class="visually-hidden">Error: </span>
    <span class="error-text">{{ error }}</span>
  </div>
  }

  @if(isLoginMode) {
  <app-signin (modeChange)="onModeChange($event)"
              (loadingChange)="onLoadingChange($event)"
              (errorChange)="onErrorChange($event)" />
  } @else {
  <app-signup (modeChange)="onModeChange($event)"
              (loadingChange)="onLoadingChange($event)"
              (errorChange)="onErrorChange($event)" />
  }
</div>

<div class="signin-up-switch">
  <div class="toggle-buttons mb-4 d-flex justify-content-center">
    <button class="btn btn-outline-light me-2"
            (click)="onModeChange(isLoginMode ? 'register' : 'login'); $event.preventDefault()">
      {{ isLoginMode ? "Registrieren" : "Anmelden" }}
    </button>
  </div>
</div>
