<div class="background">
  <img src="/background.jpg" class="bg-img" alt="Background" />
</div>

<div>
  <!-- Error Display -->
  <app-error-page *ngIf="error" [error]="error" />
  <!-- Loading -->
  <div *ngIf="loading" class="text-center text-white">
    <div class="spinner-border" role="status" aria-label="Loading"></div>
  </div>

  <app-signin *ngIf="isLoginMode" (loadingChange)="onLoadingChange($event)"
              (errorChange)="onErrorChange($event)" />
  <app-signup *ngIf="!isLoginMode" (loadingChange)="onLoadingChange($event)"
              (errorChange)="onErrorChange($event)" />
</div>

<div class="signin-up-switch">
  <div class="toggle-buttons mb-4 d-flex justify-content-center">
    <button class="btn btn-outline-light me-2"
            (click)="onModeChange(isLoginMode ? 'register' : 'login'); $event.preventDefault()">
      {{ isLoginMode ? "Registrieren" : "Anmelden" }}
    </button>
  </div>
</div>
