<div class="background">
  <img src="/background.jpg" class="bg-img" alt="Background" />
</div>

<div>
  <!-- Error Display -->
  @if (error) {
    <app-error-page [error]="error" />
  }

  @if(isLoginMode) {
  <app-signin (modeChange)="onModeChange($event)"
              (loadingChange)="onLoadingChange($event)"
              (errorChange)="onErrorChange($event)" />
  } @else {
  <app-signup (modeChange)="onModeChange($event)"
              (loadingChange)="onLoadingChange($event)"
              (errorChange)="onErrorChange($event)" />
  }
</div>

<div class="signin-up-switch">
  <div class="toggle-buttons mb-4 d-flex justify-content-center">
    <button class="btn btn-outline-light me-2"
            (click)="onModeChange(isLoginMode ? 'register' : 'login'); $event.preventDefault()">
      {{ isLoginMode ? "Registrieren" : "Anmelden" }}
    </button>
  </div>
</div>
