<nav class="navbar navbar-expand-lg bg-grayblue navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Mozart's Music Matrix</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Navigation umschalten"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <form *ngIf="router.url === '/noten'" (ngSubmit)="onSearch()" class="d-flex">
        <input [(ngModel)]="searchTerm"
               (ngModelChange)="onSearchIfCleared($event)"
               name="search"
               class="form-control me-2 ms-5"
               type="search"
               placeholder="Musikstück suchen"
               aria-label="Search" />
        <button class="btn btn-outline-light me-5" type="submit">Suchen</button>
      </form>

      <ul class="navbar-nav ms-auto me-3">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/noten" routerLinkActive="active">Noten</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/komponisten"
             routerLinkActive="active">Komponisten</a>
        </li>
        @if (!isLoggedIn) {
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        } @else {
        <li class="nav-item">
          <a class="nav-link" routerLink="/profil" routerLinkActive="active">Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
