<nav class="navbar navbar-expand-lg bg-grayblue navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Mozart's Music Matrix</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Navigation umschalten"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto me-3">
        <li class="nav-item">
          <a class="nav-link" routerLink="/noten" routerLinkActive="active"
            >Noten</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/komponisten"
            routerLinkActive="active"
            >Komponisten</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/verwaltung" routerLinkActive="active"
            >Verwaltung</a
          >
        </li>
      </ul>

      <!-- Darkmode Toggle Button -->
      <div
        class="dark-toggle ms-3"
        (click)="toggleDarkMode()"
        [class.dark]="isDarkMode"
      >
        <div class="toggle-thumb">
          @if (!isDarkMode) {
          <lucide-icon name="sun" class="my-icon"></lucide-icon>
          } @else {
          <lucide-icon name="moon" class="my-icon"></lucide-icon>
          }
        </div>
      </div>
    </div>
  </div>
</nav>
