<div class="background">
  <img src="/background.jpg" class="bg-img" alt="Background" />
</div>

<!-- Error Display -->
<app-error-page *ngIf="error" [error]="error" />

<div class="artist-container">
  <div class="card-wrapper"
       *ngFor="let artist of artists; let i = index"
       (click)="toggleCard(i)">
    <div [class.flipped]="isFlipped(i)" class="card-inner">
      <div class="card-front">
        <img [src]="getArtistImageSrc(artist)" alt="{{ artist.artistName }}" (error)="onImageError($event)" />
        <h3>{{ artist.artistName }}</h3>
      </div>

      <div class="card-back">
        <h3>{{ artist.artistName }}</h3>
        <p><strong>Genre:</strong> {{ artist.genre }}</p>
        <p><strong>Geburtsjahr:</strong> {{ artist.birthYear | date:'yyyy' }}</p>
        <p><strong>Land:</strong> {{ artist.country }}</p>
        <p class="desc">{{ artist.description ?? '-' }}</p>
      </div>
    </div>
  </div>
</div>
